<section id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1><%= t "member" %></h1>
          <span class="st-border"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <% if @users.present? %>
    <%= search_form_for @q, id: "search_form" do |f| %>
      <div class="ui input icon search-form">
        <%= f.search_field :name_or_email_cont, placeholder: (t".search_user"),
          id: "user_search" %>
      </div>
      <%= f.submit (t ".search"), class: "ui blue button" %>
    <% end %>
    <div class="ui link cards" id= "users">
      <%= render @users %>
    </div>
    <center>
      <%= link_to_next_page @users, (t "load_more"), remote: true, id: "load_more",
        class: "btn btn-primary" %>
    </center>
  <% else %>
    <p><%= t ".no_user_found" %> <%= params[:search] %>.</p>
  <% end %>
</div>
