<style type="text/css">
 .portfolio-content.scale:hover img {
transform: scale(1.2);
    transition: .3s ease-in-out !important;
 }
  .scale {
    overflow: hidden;
    /*transition: .3s ease-in-out !important;*/
  }
  .scale img{

  }
.portfolio-overlay {
transform: scale(1) !important;

}
</style>
<div class="col-md-4 col-sm-6 work-grid wordpress graphic">
  <div class="portfolio-content scale wow zoomIn">
    <%= link_to project_path(I18n.locale, project), class: "img-responsive" do %>
      <%= image_tag project.images.first.image.url, class: "img-responsive resize-project" %>
    <% end %>
    <div class="portfolio-overlay">
      <%= link_to project_path(I18n.locale, project) do %><i class="fa fa-camera-retro"></i><% end %>
      <h5><%= project.name %></h5>
      <p><%= project.description.truncate(Settings.description) %></p>
      <div class="rate-project">
        <%= rating_for project, :rating, disable_after_rate: false, enable_half: true, cancel: false %>
      </div>
    </div>
  </div>
</div>
