<div class="portfolio-modal modal fade" id="portfolioModal"
  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="modal-body">
              <div class="wh-sensei-title-wrap wh-padding title-portfolio">
                <h1 class="capitalize"><%= @project.name %></h1>
                <hr />
              </div>
              <p class="desc-portfolio"><%= @project.description %></p>
              <div class="portfolio">
                <div class="three fourths wh-padding wh-content-inner left">
                  <figure class="wpb_wrapper vc_figure">
                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                      <div id="portfolio_slide" class="carousel slide"
                        data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                          <% @images.each_with_index do |image, index| %>
                            <div class="item <%= set_class_by_index index %>">
                                <%= image_tag image.image.url ,
                                  class: "img-responsive img-centered
                                img-slide img-project" %>
                            </div>
                          <% end %>
                          <ol class="carousel-indicators">
                            <% @images.each_with_index do |image, index| %>
                              <li data-target="#portfolio_slide"
                                data-slide-to=<%= index %>
                                class="<%= set_class_by_index index %>">
                              </li>
                            <% end %>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </figure>
                  <div>
                    <br />
                    <span class="feature-project">
                      <b><%= t "feature_project" %></b>
                    </span><hr />
                    <div class="col-md-6">
                      <p class="text-left">
                        <b> <%= t "server_informations" %>: </b><br />
                        <%= @project.server_information %></p>
                    </div>
                    <div class="col-md-6">
                      <p class="text-left">
                        <b> <%= t "core_features" %>: </b><br />
                        <%= @project.core_features %>
                      </p>
                    </div>
                  </div>
                  <hr />
                </div>
                <div class="wh-sidebar one fourth wh-padding left width-333">
                  <section class="course-meta course-enrolment">
                    <button type="submit" class="button-member-join-project">
                      <%= t "join_project" %>
                    </button>
                  </section>
                  <%= render "member_of_project", object: @members %>
                </div>
                <div class="clear"></div>
              </div>
              </div>
              <button type="button" class="btn btn-primary" data-dismiss="modal">
                <i class="fa fa-times"></i>
                <%= t "close" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
