<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><h1><%= yield(:modal_title) %></h1></div>
    <%= form_for [:admin, @category], html: {multipart: true},
      authenticity_token: true, remote: true do |f| %>
      <div class="modal-body">
        <div class="form_errors">
          <%= render "shared/error_messages", object: @category %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :category %>
          <%= f.select :target_type, Category.target_types.keys.to_a, {}, class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <span class="pull-right">
          <%= f.submit yield(:submit_button), class: "btn btn-primary" %>
        </span>
        <span class="pull-left">
          <%= link_to t(".cancel_button"), "#", class: "btn btn-warning",
            data: {dismiss: "modal"} %>
        </span>
      </div>
    <% end %>
  </div>
</div>
