<header class="header-width">
  <div class="header header-mobi-ext">
    <div class="container">
      <div class="row login_header">
        <% if user_signed_in? %>
          <%= link_to t("menu_edit_profile"),
            edit_user_registration_path(locale: I18n.locale) %>          
          <%= link_to t("menu_sign_out"), 
            destroy_user_session_path(locale: I18n.locale), method: :delete %>
        <% else %>
          <%= link_to t("menu_sign_in"), new_user_session_path(locale: I18n.locale) %>
          <%= link_to t("menu_sign_up"), new_user_registration_path(locale: I18n.locale) %>        
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <%= image_tag "cong-ty-tnhh-framgia.jpg", class: "logo" %>
        </div>
        <div class="language">
          <%= link_to url_for(locale: "vi") do %>
            <%= image_tag "vi.png" %>
          <% end %>
          <%= link_to url_for(locale: "en") do %>
            <%= image_tag "en.png" %>
          <% end %>
        </div>
        <input type="checkbox" id="sidemenucheckbox" />
        <label id="sidemenutoggler" for="sidemenucheckbox"
          onClick="legacybrowsertoggle()" class="menu_toggler"></label>
        <nav id="rightsidemenu">
          <ul>
            <li>
              <%= link_to t("header.menu.home"), root_path(I18n.locale) %>
            </li>
            <li>
              <%= link_to t("header.menu.project"),
                projects_path(I18n.locale) %>
            </li>
            <li>
              <%= link_to t("header.menu.new"), "#" %>
            </li>
            <li>
              <%= link_to t("header.menu.blog"), "#" %>
            </li>
            <li>
              <%= link_to t("header.menu.idea"), "#" %>
            </li>
            <li>
              <%= link_to t("header.menu.contact"), "#" %>
            </li>
            <li>
              <%= link_to t("header.menu.about_team"), "#" %>
            </li>
          </ul>
        <label id="closex" for="sidemenucheckbox"
          onClick="legacybrowsertoggle()"><%= t("close") %></label>
        </nav>
        <div class="overlay"><label for="sidemenucheckbox"></label></div>
        </div>
    </div>
  </div>
</header>
